.aurora-menu {
  .popup-menu-icon {
    margin-right: 8px;
  }
}

.aurora-lock-key-indicators-box {
  spacing: 4px;
}

.aurora-lock-key-indicator,
.aurora-low-battery-percentage {
  min-width: 0;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 700;
}
