.aurora-bt-menu {
  .popup-menu-content {
    max-width: 300px;
  }
}

.aurora-bt-battery-label {
  font-size: 0.85em;
  font-weight: 400;
  color: inherit;
  opacity: 1;
}

.aurora-bt-state-icon {
  &.aurora-bt-state-animating,
  &.aurora-bt-state-connected {
    color: -st-accent-color;
  }

  &.aurora-bt-state-disconnected {
    color: #9a9a9a;
  }
}
