.aurora-meeting-clock-box {
  min-height: 2.2em;
  spacing: 0;
}

.aurora-meeting-clock-widget {
  margin-left: 0.7em;
  spacing: 0.3em;
}

.aurora-meeting-clock-icon {
  icon-size: 14px;
  padding: 0;
  margin: 0;
}

.aurora-meeting-clock-label {
  max-width: 240px;
}
