@use 'sass:color';
@use 'variables' as vars;

#panel {
  background-color: vars.$aurora-panel-bg;
}

#panel:overview,
#panel.unlock-screen,
#panel.login-screen {
  background-color: vars.$aurora-panel-bg;
}