@use 'palette' as palette;

$variant: 'light' !default;
$contrast: 'normal' !default;

$aurora-panel-bg: if($variant == 'light', palette.$light-1, palette.$dark-1);
$aurora-dash-bg: if($variant == 'light', palette.$light-1, palette.$dark-1);
