@use 'sass:color';

@use 'palette' as palette;

$variant: 'light' !default;
$contrast: 'normal' !default;

$aurora-panel-bg: palette.$dark-1;
$aurora-dash-bg: palette.$dark-1;
$aurora-dash-icon-color: palette.$light-1;
$aurora-dash-separator-color: color.adjust(palette.$light-1, $alpha: -0.9);
$aurora-dash-hover-bg: st-lighten($aurora-dash-bg, 7%);
$aurora-dash-active-bg: st-lighten($aurora-dash-bg, 9%);
$aurora-dash-active-hover-bg: st-lighten($aurora-dash-bg, 9%);
$aurora-dash-checked-bg: st-lighten($aurora-dash-bg, 8%);
$aurora-dash-checked-hover-bg: st-lighten($aurora-dash-bg, 8%);
$aurora-dash-checked-active-bg: st-lighten($aurora-dash-bg, 9%);

@if $variant == 'light' {
	$aurora-panel-bg: palette.$light-1;
	$aurora-dash-bg: palette.$light-1;
	$aurora-dash-icon-color: palette.$dark-1;
	$aurora-dash-separator-color: color.adjust(palette.$dark-1, $alpha: -0.9);
	$aurora-dash-hover-bg: st-darken($aurora-dash-bg, 7%);
	$aurora-dash-active-bg: st-darken($aurora-dash-bg, 9%);
	$aurora-dash-active-hover-bg: st-darken($aurora-dash-bg, 9%);
	$aurora-dash-checked-bg: st-darken($aurora-dash-bg, 8%);
	$aurora-dash-checked-hover-bg: st-darken($aurora-dash-bg, 8%);
	$aurora-dash-checked-active-bg: st-darken($aurora-dash-bg, 9%);
}

$aurora-dash-focus-bg: st-mix(
	st-mix(-st-accent-color, #ffffff, 60%),
	#30303040,
	5%
);
$aurora-dash-focus-hover-bg: st-mix(
	st-mix(-st-accent-color, #ffffff, 60%),
	$aurora-dash-hover-bg,
	5%
);
$aurora-dash-active-focus-bg: st-mix(
	st-mix(-st-accent-color, #ffffff, 60%),
	$aurora-dash-active-bg,
	5%
);
